In [4]:
import pandas as pd
df = pd.read_excel('FIRE0101.xlsx',sheet_name='Data - population')
columnToDelete = ['CALENDAR_YEAR']
df = df.drop(columnToDelete, axis=1)

In [5]:
df.style.background_gradient(cmap='Reds')

In [9]:
import pandas as pd
df1 = pd.read_excel('FIRE0101.xlsx',sheet_name='Data - incidents')

In [12]:
df1.style.background_gradient(cmap='OrRd')

In [15]:
import pandas as pd
df2 = pd.read_excel('FIRE0103.xlsx',sheet_name='Data - fires')

In [16]:
df2.style.background_gradient(cmap='OrRd')